#meet-team-page{
     /* height: 100%; */
     background-image: url('../images/page_2/bg_2.png');
     /* background-position: center; */
     background-size: cover;
     background-repeat: no-repeat;
}
.banner-page2{
    text-align: center;
}
.meet-team-text{
    color: #CCCCCC;
}
.meet-team-text h1{
    font-size:212px;
    font-family: 'bebas';
}
.meet-team-text p{
    margin-bottom: 0;
    font-size: 20px;
}
.red-text{
    color: #EB3A39;
}
.dynamic{
    font-family: 'bebas';
    font-size: 92px;
    color: #CCCCCC;
    padding-top: 46px;
}
.dynamic p{
    margin-bottom: 0;
    font-size: 92px;
    position: relative;
}
/* .dynamic p::before{
    content: '';
    position: absolute;
    top: 0;
    height: 1px;
    width: 100%;
    background-color: #fff;
    left: 0;
} */
.dynamic p::after{
    content: '';
    position: absolute;
    bottom: 20px;
    height: 1px;
    width: 100%;
    background-color: #fff;
    left: 0;
}
.dynamic p span{
    color: #EB3A39;
}
.warrper-the{
    position: relative;
    top: 40px;
}
.the{
    font-size: 56px;
    /* background-color: black; */
    position: relative;
    z-index: 2;
    /* top: -63px; */
    padding: 0 15px;
    /* transform: translateX(-50%); */
    width: 100%;
    display: block;
    text-align: center;
}
.the::before{
    content: '';
    position: absolute;
    left: 0;
    width: 46%;
    height: 1px;
    display: block;
    background-color: #fff;
    bottom: 1px;
}
.the::after{
    content: '';
    position: absolute;
    right: 0;
    width: 46%;
    height: 1px;
    display: block;
    background-color: #fff;
    bottom: 1px;
}
.the span{
    position: relative;
    top: 15px;
}
.dynamic .container{
    position: relative;
}


.detail-member{
    display: flex;
    align-items: baseline;
    position: relative;
    color: #CCCCCC;
}
.detail-member::before{
    content: '';
    background: linear-gradient(107deg, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 100%);
    position: absolute;
    width: 100%;
    height: 80%;
    left: 0;
    bottom: 0;
    z-index: 0;
}
.detail-member h2{
    font-size: 61.3px;
    margin-bottom: 26px;
}
.detail-member span{
    display: block;
    margin-bottom: 36px;
}

.item-position{
    align-items: baseline;
    color: #CCCCCC;
    position: relative;
    max-height: 330px;
    height: 330px;
}
.position h3{
    font-size: 25px;
}
.position span{
    font-size: 16px;
}

.item-position::before{
    content: '';
    position: absolute;
    left: 0;
    width: 80%;
    height: 80%;
    background: linear-gradient(107deg, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 100%);
    bottom: 0px;
}


.see-more-team{
    text-align: center;
    margin-top: 50px;
}
.see-more-team img{
    width: 35px;
}
.see-more-team button{
    display: inline-block;
    width: 136px;
    border: unset;
    background: linear-gradient(90deg, rgba(243,243,243,1) 0%, rgba(224,208,32,1) 19%, rgba(239,128,34,1) 33.8%, 
    rgba(235,69,38,1) 45.6%, rgba(232,40,40,1)  61.2%, rgba(107,47,114,1)  78.4%, rgba(28,22,81,1)  93.5%);
    color: #fff;
    font-size: 17px;
    margin-top: 10px;
    padding: 5px 0;
}

.could-be-you{
    text-align: center;
    margin-top: 74px;
    background: linear-gradient(90deg, rgba(26,26,26,0) 0%, rgba(26,26,26,1) 50%, rgba(26,26,26,0) 100%);
    padding-top: 50px;
}