body{
    margin: 0;
    padding: 0;
}
body, html {
    height: 100%;
  }
#home_page{
    /* height: 100%; */
    background-image: url('../images/page_1/bg_home.png');
    /* background-position: center; */
    background-size: cover;
    background-repeat: no-repeat;
}
/* #home_page img{
    width: 100%;
} */
.title-pages{
    position: relative;
    margin-bottom: 50px;
}
.text-title{
    position: relative;
    width: 80%;
    margin: auto;
}
.text-title img{
    width: 100%;
}


/* .product-services .title-hidden{
    font-size: 86px;
    text-align: center;font-weight: bold;
    font-family: 'bebas';
}   */
.text-title h3{
    color: #ffffff;
    font-family: 'bebas';
    position: absolute;
    font-size: 96px;
    text-align: center;
    margin-bottom: 0;
    z-index: 999;
    bottom: -11px;
    width: 100%;
}

.content-text p,.content-text h4{
    color: #B3B3B3;
}

.block-content{
    position: relative;
}
.block-content img{
    width: 100%;
}
.title-block,.describe{
    position: absolute;
    left: 20px;
    color: #ffff;
}
.describe{
    bottom: 0;
    font-size: 10px;
}
.title-block{
    top: 20px;
    font-size: 26px;
}

/* MEET THE TEAM */
.meet-team-warper{
    position: relative;
    top: -60px;
}
.img-top{
    text-align: center;
}
.img-top p{
    margin-bottom: 0;
    text-align: center;
    font-size: 18px;
}
.img-top p:nth-child(3){
    color: red;
}
.img-top p:nth-child(2){
    color: #808080;
}


.showcase h1{
    font-size: 196px;
    font-family: 'bebas';
    text-align: center;
    color: #fff;
    margin-bottom: 67px;
}


.member h1{
    color: #ffff;
    font-size: 85px;
    font-family: 'bebas';
    text-align: center;
    margin-bottom: 40px;
}
.member span{
    color: #EB3A39;
}
.item-slide{
    padding: 0 20px;
}
.item-slide img{
    width: 100%;
}
.item-slide h3{
    font-size: 14px;
}
.item-slide p{
    font-size: 14px;
}
.text-item-slide{
    margin-top: 30px;
    padding-right: 30px;
}


.slick-prev:before, .slick-next:before {
    display: none;
}
.slide-men .slick-prev, .slide-men .slick-next {
    width: 40px;
    height: 40px;
    z-index: 9;
}
.slide-men .slick-prev{
    left: 20px;
}
.slide-men .slick-next{
    right: 17px;
}
.slide-men {
    margin-top: 40px;
}

.slide-banner img{
    width: 100%;
}
.slide-banner-item{
    position: relative;
}
.info-vid-banner{
    display: flex;
    position: absolute;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.48);
    left: 0;
    bottom: 0;
    z-index: 9;
    color: #ffff;
    padding: 20px;
}
.info-vid-banner p{
    margin-bottom: 0;
}

.slide-banner .slick-prev, .slide-banner .slick-next {
   bottom: 6px;
   top: unset;
   z-index: 10;
   width: 30px;
   height: 30px;
}
.slide-banner .slick-prev{
    left: 88%;
}
.slide-banner .slick-next{
    right: 5%;
}